In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
   'patient_arrival': [1, 1.5, 2, 2.1, 2.5, 3, 3.5, 4,5, 6.5],
   'treatment': [2.05, 2.12, 2.5, 3.1, 5, np.NaN, 6, 6.5, 6.5, np.NaN]
}
df = pd.DataFrame(data, columns = ['patient_arrival', 'treatment'])
df

   patient_arrival  treatment
0              1.0       2.05
1              1.5       2.12
2              2.0       2.50
3              2.1       3.10
4              2.5       5.00
5              3.0        NaN
6              3.5       6.00
7              4.0       6.50
8              5.0       6.50
9              6.5        NaN

In [3]:
'''  For people who have not gone through treatment replace np.nan with 999 
(in our real problem, replace with "now" as we're working with date and time) '''


df['treatment'] = df['treatment'].fillna(999)
df = df.sort_values(by='patient_arrival')

'''N should be the maximum number of patients in the queue, we dont know this number 
but we can have an educated guess, or set it up to a high value in expense of program run time'''

N=100



for i in range(1,N):   
    df[i] = df.patient_arrival < df.treatment.shift(i)

columns=range(1,11)
df['queue_size'] = df.loc[:,list(range(1,N))].sum(axis=1)
df = df.drop(columns=list(range(1,N)))

display(df)

   patient_arrival  treatment  queue_size
0              1.0       2.05           0
1              1.5       2.12           1
2              2.0       2.50           2
3              2.1       3.10           2
4              2.5       5.00           1
5              3.0     999.00           2
6              3.5       6.00           2
7              4.0       6.50           3
8              5.0       6.50           3
9              6.5     999.00           1